<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Aredal</a>

        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a title="aredal.tarragona@gmail.com" href="mailto:aredal.tarragona@gmail.com">
                        <img src="assets/img/contact/mail.svg" alt="mail" class="icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a title="+34676593214" href="https://wa.me/34676593214">
                        <img src="assets/img/contact/whatsapp.svg" alt="whatsapp" class="icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a title="/aredal.tarragona" href="https://www.instagram.com/aredal.tarragona">
                        <img src="assets/img/contact/instagram.svg" alt="instagram" class="icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a title="/aredaltarragona" href="https://www.facebook.com/aredaltarragona">
                        <img src="assets/img/contact/facebook.svg" alt="facebook" class="icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>