:host{
    display: block;
}
h2{
    margin-bottom: 20px;
    color: #255183;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    border-radius: 5px;
    position: relative;
    top: -80px;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.left, .right{
    width: 50%;
}
.left{
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width:100%;
}
h6{
    font-weight: bold;
    margin: 40px 0 0 0;
}
@media screen and (max-width:991px) {
    .container{
        flex-direction: column;
        width: 90vw;
    }
    .left, .right{
        width: 100%;
    }
}