<div class="container">
    <div class="left">
        <h2 class="line">Bienvenidos a Aredal</h2>
        <div class="line"></div>
        <p>Soy María Sol Dalairac, Arquitecta al frente de Aredal. Mi equipo y yo nos hemos propuesto ser su anfitrión en Tarragona con un objetivo
            claro: realizar el proceso de compraventa de su hogar de la manera más eficiente y satisfactoria.</p>
        <div class="signature">
            <h6>Maria Sol Dalairac</h6>
            <p>Arquitecta</p>
        </div>
    </div>
    <div class="right">
        <img src="assets/img/sol.jpeg" alt="" srcset="">
        <!-- <img src="assets/img/about-B&N.jpg" alt="" srcset=""> -->
    </div>
</div>