<div class="container">
    <h2 class="line">Contact</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://wa.me/34676593214">
                <div class="img-cont"><img src="assets/img/contact/whatsapp.svg" alt="" class="icon"></div>+34 676593214
            </a>
        </li>
        <li class="list-group-item">
            <a href="mailto:aredal.tarragona@gmail.com">
                <div class="img-cont"><img src="assets/img/contact/mail.svg" alt="" class="icon"></div>aredal.tarragona@gmail.com
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://www.instagram.com/aredal.tarragona">
                <div class="img-cont"><img src="assets/img/contact/instagram.svg" alt="" class="icon"></div>@aredal.tarragona
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://www.facebook.com/aredaltarragona">
                <div class="img-cont"><img src="assets/img/contact/facebook.svg" alt="" class="icon"></div>aredaltarragona
            </a>
        </li>
    </ul>
</div>