:host {
    display: block;
    overflow: hidden;
}
h2 {
    text-align: center;
    margin-bottom: 60px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
    h4{
        margin-bottom: 15px;
    }
    .icon {
        height: 160px;
        width: auto;
        margin-bottom: 20px;
        border-radius: 50%;
    }
}

.list-group {
    h4 {
        font-size: 1.2rem;
    }
    .icon {
        height: 24px;
        // margin-right: 5px;
        // padding-bottom: 5px;
    }
}
