<div class="container">
    <h2 class="line">¿PORQUE INVERTIR EN TARRAGONA?</h2>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="img-cont"><img src="assets/img/why/tourist_route.svg" class="icon" alt="Accesos"></div>
                    Es una ciudad turística muy bien conectada con las principales ciudades de España; esta a 1 hora en auto y 30 min en tren AVE de
                    Barcelona, y a 2:30 hs en tren AVE de Madrid. Hay vuelos directos desde Ezeiza a ambas ciudades.
                </li>
                <li class="list-group-item">
                    <div class="img-cont"><img src="assets/img/why/patrimonio_monument.svg" class="icon" alt="Patrimonio"></div>
                    Es una ciudad declarada Patrimonio de la Humanidad por la UNESCO, por lo que recibe turismo todo el año.
                </li>
                <li class="list-group-item">
                    <div class="img-cont"><img src="assets/img/why/beach_umbrella.svg" class="icon" alt="playa"></div>
                    Tiene playas paradisíacas, que lo hace un destino de verano, elegido principalmente por franceses e ingleses.
                </li>
                <li class="list-group-item">
                    <div class="img-cont"><img src="assets/img/why/park_map-signs.svg" class="icon" alt="Parque de diversiones"></div>
                    El complejo Port Aventura, es el primer parque temático de España, cuenta con 3 parques propios, considerados los mejores de
                    España. Los parques son un destino en sí mismos y se encuentran a solo 15 minutos del centro de Tarragona.
                </li>
                <li class="list-group-item">
                    <div class="img-cont"><img src="assets/img/why/golf-ball.svg" class="icon" alt="Golf"></div>
                    Tiene 6 canchas de golf a menos de 30 km, por lo que es un destino también elegido por los asiduos a ese deporte.
                </li>
                <li class="list-group-item">
                    <div class="img-cont"><img src="assets/img/why/port_ship.svg" class="icon" alt="Puerto"></div>
                    Tarragona es un Puerto de Cruceros de Compañías como Costa Cruceros o Royal Caribean.
                </li>
                <li class="list-group-item">
                    <div class="img-cont"><img src="assets/img/why/future-investments_chart.svg" class="icon" alt="Inversion"></div>
                    Inversiones futuras: El Hard Rock Café Entertainment World, planea empezar las obras del complejo ubicado a 10 minutos del centro
                    de Tarragona en 2022.
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <app-gallery></app-gallery>
        </div>
    </div>
</div>