/* You can add global styles to this file, and also import other style files */
html,body{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 3rem;
    // font-weight: bold;
}
h2 {
    font-size: 1.75rem;
    // font-weight: bold;
    // padding-bottom: 15px;
    // margin-bottom: 15px;
}
h1,
h2 {
    &.line {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 30px;
            border-bottom: 2px solid #ffc107;
            left: 0;
        }
    }
    &.line-center {
        &:before {
            left: calc(50% - 15px);
        }
    }
}
.icon {
    height: 24px;
    display: inline-block;
    margin-right: 5px;
    padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 2.75rem;
    }
}
